/* entire container, keeps perspective */
.flip-container {
    -webkit-perspective: 1000px;
            perspective: 1000px;
}
/*	 flip the pane when hovered */

.flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper{
-webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
}


.flip-container.flip .flipper {
/*    transform: rotateY(180deg);*/
}

.flip-container, .front, .back {
    width: 288px;
    height: 412.2px;
}

/* flip speed goes here */
.flipper {
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    z-index: 10;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    position: relative;
    background: #dbeb86;
}

.moreInfo{
    z-index: 10;
    position: absolute;
    bottom: 25px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
}

.descripcion, .titulo {
    padding: 25px;
}

.titulo{
    font-size: 20px;
}

img {
    width: 100%;
}

.front img{
    width: 288px;
    height: 413px;
}

.logo{
    width: auto;
    margin-bottom: 20px;
}

.item {
}

.search{
    font-size: 18px;
}



.grid {
    width: 64%;
    margin: auto;
/*
    display: flex;
    flex-wrap: wrap;
*/
}

input[type="text"] {
    font-size: 30px;
}

input{
    text-align: center;
}

.input{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.invisible {
    width: 100%;
    height: 100%;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
}
.divider {
  height: 2px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 20px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.newimage {
    width: 30%;
}



